venv/
/trading_engine/db.sqlite3
TrEng/
.env
*.pyc
__pycache__/

# SSL certificates
/trading_engine/ssl/

# Frontend build and dependencies
/frontend/node_modules/
/frontend/build/
frontend/.env.development
trading_engine/django.log
.gitignore
trading_engine/server.log
